<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/icons/members-only.png" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/utils.js"></script>
    <title>Members Only</title>
</head>

<body>
    <header>
        <%- include("partials/header") %>
    </header>

    <main>

        <section class="intro">

            <div class="intro-and-next-step">

                <h1><%= nextStepContent %></h1>

                <% if (nextStepLink && nextStepText) { %>
                    <a href="<%= nextStepLink %>" class="next-step-link"><%= nextStepText %></a>
                <% } %>

            </div>

        </section>

        <section class="message-house">

            <% if (posts && posts.length > 0) { %>

                <% posts.forEach((message) => { %>

                    <article class="message-card">

                        <div class="message-header">
                            <img src="/images/message.png" alt="<%= message.username %> profile picture" />
                            <div class="authorship">
                                <% if (user && user.membership_status) { %>
                                    <h3><%= message.author_name %></h3>
                                    <p>@<%= message.author_email %></p>
                                <% } else { %>
                                    <h3>*****</h3>
                                    <p>@*****</p>
                                <% } %>
                            </div>

                        </div>

                        <div class="message-body">
                            <h2><%= message.title %></h2>
                            <p><%= message.message %></p>
                            <% if (user && user.membership_status) { %>
                                <p><%= message.created_at %></p>
                            <% } %>
                        </div>
                    </article>

                <% }); %>

            <% } else { %>

                <p class="no-messages">No messages available.</p>
            <% } %>
        </section>
    </main>

    <footer>
        <%- include("partials/footer") %>           
    </footer>

</body>
</html>