<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="/icons/members-only.png" />
    <link rel="stylesheet" href="/css/sign-up.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/validation.js" defer></script>
    <title>Members Only Sign Up</title>
</head>

<body>

    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <section class="authentication-house">
            <form action="" method="post">
                <h1>Register a new account</h1>

                 <% if (errors && errors.length) { %>
                    <div class="error-container">
                        <ul class="error-list">
                            <% errors.forEach(err => { %>
                                <li><%= err.msg %></li>
                            <% }) %>
                        </ul>
                    </div>
                <% } %>

                <div class="names">
                    <div class="first-name form-control">
                        <label for="first-name">First Name</label>
                        <input type="text" id="first-name" name="firstName" minlength="3" maxlength="15" 
                            value="<%= data.firstName || '' %>" required />
                        <small>Error Message</small>
                    </div>
                    <div class="last-name form-control">
                        <label for="last-name">Last Name</label>
                        <input type="text" id="last-name" name="lastName" minlength="3" maxlength="15" 
                            value="<%= data.lastName || '' %>" required />
                        <small>Error Message</small>
                    </div>
                </div>
                <div class="email form-control">
                    <label for="email">Username (Email)</label>
                    <input type="email" id="email" name="email" value="<%= data.email || '' %>" required />
                    <small>Error Message</small>
                </div>

                <div class="password">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="<%= data.password || '' %>" required />
                    <small>Error Message</small>
                </div>
                <div class="confirm-password">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirmPassword" 
                        value="<%= data.confirmPassword || '' %>" required />
                    <small>Error Message</small>
                </div>
                <button type="submit">Register</button>
            </form>
        </section>
    </main>

    <%- include("partials/footer") %>

</body>
</html>