<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="https://www.flaticon.com/free-icons/smart-key" />
    <script src="/js/header.js" defer></script>
    <title>Members Only</title>
</head>

<body>

    <header>
        <%- include("partials/header") %>
    </header>

    <main>
        <section class="users-house">
                <table>
                    <thead>
                        <tr>
                            <th>Full name</th>
                            <th>Username (Email)</th>
                            <th>Posts Created</th>
                            <th>Membership</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% users.forEach(user => { %>
                            <tr>
                                <td><%= user.firstName %> <%= user.lastName %></td>
                                <td><%= user.email %></td>
                                <td><%= user.posts.length %></td>
                                <td><%= user.isMember ? 'Yes' : 'No' %></td>
                                <td><%= user.isAdmin ? 'Yes' : 'No' %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
        </section>
    </main>
    
    <footer>
        <%- include("partials/footer") %>
    </footer>

</body>
</html>